.card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.card.bug {
  background-color: #a8b820;
}
.card.bug .card-picture {
  background: linear-gradient(127deg, #c8d68f, #a8b820);
}
.card.bug .card-info {
  background-color: #d8e0a0;
}
.card.dark {
  background-color: #705848;
}
.card.dark .card-picture {
  background: linear-gradient(127deg, #a89078, #705848);
}
.card.dark .card-info {
  background-color: #c0b090;
}
.card.dragon {
  background-color: #7038f8;
}
.card.dragon .card-picture {
  background: linear-gradient(127deg, #a890f0, #7038f8);
}
.card.dragon .card-info {
  background-color: #c8b8f8;
}
.card.electric {
  background-color: #f8d030;
}
.card.electric .card-picture {
  background: linear-gradient(127deg, #f8e0a8, #f8d030);
}
.card.electric .card-info {
  background-color: #f8e8a8;
}
.card.fairy {
  background-color: #ee99ac;
}
.card.fairy .card-picture {
  background: linear-gradient(127deg, #f8c8e8, #ee99ac);
}
.card.fairy .card-info {
  background-color: #f8d8e0;
}
.card.fighting {
  background-color: #c03028;
}
.card.fighting .card-picture {
  background: linear-gradient(127deg, #d87c6e, #c03028);
}
.card.fighting .card-info {
  background-color: #f0d0c0;
}
.card.fire {
  background-color: #f08030;
}
.card.fire .card-picture {
  background: linear-gradient(127deg, #f8b88b, #f08030);
}
.card.fire .card-info {
  background-color: #f8d0a0;
}
.card.flying {
  background-color: #a890f0;
}
.card.flying .card-picture {
  background: linear-gradient(127deg, #c8b8f8, #a890f0);
}
.card.flying .card-info {
  background-color: #d8d8f0;
}
.card.ghost {
  background-color: #705898;
}
.card.ghost .card-picture {
  background: linear-gradient(127deg, #a890b8, #705898);
}
.card.ghost .card-info {
  background-color: #c0a8d0;
}
.card.grass {
  background-color: #78c850;
}
.card.grass .card-picture {
  background: linear-gradient(127deg, #a8e0a0, #78c850);
}
.card.grass .card-info {
  background-color: #c8e0c8;
}
.card.ground {
  background-color: #e0c068;
}
.card.ground .card-picture {
  background: linear-gradient(127deg, #f0d8a0, #e0c068);
}
.card.ground .card-info {
  background-color: #f0e0b0;
}
.card.ice {
  background: rgb(155, 209, 230);
}
.card.ice .card-picture {
  background: linear-gradient(127deg, rgb(170, 232, 253), rgb(230, 253, 255));
}
.card.ice .card-info {
  background: rgb(204, 241, 255);
}
.card.steel {
  background: rgb(184, 184, 208);
}
.card.steel .card-picture {
  background: linear-gradient(127deg, rgb(208, 208, 231), rgb(237, 237, 247));
}
.card.steel .card-info {
  background: rgb(230, 230, 255);
}
.card.water {
  background: rgb(107, 181, 240);
}
.card.water .card-picture {
  background: linear-gradient(127deg, rgb(116, 205, 253), rgb(177, 234, 255));
}
.card.water .card-info {
  background: rgb(202, 231, 250);
}
.card.psychic {
  background: rgb(125, 69, 199);
}
.card.psychic .card-picture {
  background: linear-gradient(127deg, rgb(140, 85, 176), rgb(176, 128, 208));
}
.card.psychic .card-info {
  background: rgb(224, 176, 248);
}
.card.normal {
  background-color: #d8d8c0;
}
.card.normal .card-picture {
  background: linear-gradient(127deg, #e0e0a8, #d8d8c0);
}
.card.normal .card-info {
  background-color: #f0f0d8;
}
.card.rock {
  background: rgb(187, 168, 133);
}
.card.rock .card-picture {
  background: linear-gradient(127deg, rgb(204, 189, 157), rgb(242, 234, 209));
}
.card.rock .card-info {
  background: rgb(219, 210, 183);
}

.card-picture {
  width: 100%;
  height: 200px;
  padding: 2px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-info {
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-name {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
}/*# sourceMappingURL=Card.css.map */