.card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$card-colors: (
  bug: (#a8b820, linear-gradient(127deg, #c8d68f, #a8b820), #d8e0a0),
  dark: (#705848, linear-gradient(127deg, #a89078, #705848), #c0b090),
  dragon: (#7038f8, linear-gradient(127deg, #a890f0, #7038f8), #c8b8f8),
  electric: (#f8d030, linear-gradient(127deg, #f8e0a8, #f8d030), #f8e8a8),
  fairy: (#ee99ac, linear-gradient(127deg, #f8c8e8, #ee99ac), #f8d8e0),
  fighting: (#c03028, linear-gradient(127deg, #d87c6e, #c03028), #f0d0c0),
  fire: (#f08030, linear-gradient(127deg, #f8b88b, #f08030), #f8d0a0),
  flying: (#a890f0, linear-gradient(127deg, #c8b8f8, #a890f0), #d8d8f0),
  ghost: (#705898, linear-gradient(127deg, #a890b8, #705898), #c0a8d0),
  grass: (#78c850, linear-gradient(127deg, #a8e0a0, #78c850), #c8e0c8),
  ground: (#e0c068, linear-gradient(127deg, #f0d8a0, #e0c068), #f0e0b0),
  ice: (rgb(155, 209, 230), linear-gradient(127deg, rgb(170, 232, 253), rgb(230, 253, 255)), rgb(204, 241, 255)),
  steel: (rgb(184, 184, 208), linear-gradient(127deg, rgb(208, 208, 231), rgb(237, 237, 247)), rgb(230, 230, 255)),
  water: (rgb(107, 181, 240), linear-gradient(127deg, rgb(116, 205, 253), rgb(177, 234, 255)), rgb(202, 231, 250)),
  psychic: (rgb(125, 69, 199), linear-gradient(127deg, rgb(140, 85, 176), rgb(176, 128, 208)), rgb(224, 176, 248)),
  normal: (#d8d8c0, linear-gradient(127deg, #e0e0a8, #d8d8c0), #f0f0d8),
  rock: (rgb(187, 168, 133), linear-gradient(127deg, rgb(204, 189, 157), rgb(242, 234, 209)), rgb(219, 210, 183)),
  posion: (#A040A0, linear-gradient(127deg, #C183C1, #A040A0), #D9B3D9)
);

@each $type, $colors in $card-colors {
  .#{$type} {
    background: nth($colors, 1);
    .card-picture {
      background: nth($colors, 2);
    }
    .card-info {
      background: nth($colors, 3);
    }
  }
}

.card-picture {
  width: 100%;
  height: 200px;
  padding: 2px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.card-info {
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-name {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
}
