.card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bug {
  background: #a8b820;
}
.bug .card-picture {
  background: linear-gradient(127deg, #c8d68f, #a8b820);
}
.bug .card-info {
  background: #d8e0a0;
}

.dark {
  background: #705848;
}
.dark .card-picture {
  background: linear-gradient(127deg, #a89078, #705848);
}
.dark .card-info {
  background: #c0b090;
}

.dragon {
  background: #7038f8;
}
.dragon .card-picture {
  background: linear-gradient(127deg, #a890f0, #7038f8);
}
.dragon .card-info {
  background: #c8b8f8;
}

.electric {
  background: #f8d030;
}
.electric .card-picture {
  background: linear-gradient(127deg, #f8e0a8, #f8d030);
}
.electric .card-info {
  background: #f8e8a8;
}

.fairy {
  background: #ee99ac;
}
.fairy .card-picture {
  background: linear-gradient(127deg, #f8c8e8, #ee99ac);
}
.fairy .card-info {
  background: #f8d8e0;
}

.fighting {
  background: #c03028;
}
.fighting .card-picture {
  background: linear-gradient(127deg, #d87c6e, #c03028);
}
.fighting .card-info {
  background: #f0d0c0;
}

.fire {
  background: #f08030;
}
.fire .card-picture {
  background: linear-gradient(127deg, #f8b88b, #f08030);
}
.fire .card-info {
  background: #f8d0a0;
}

.flying {
  background: #a890f0;
}
.flying .card-picture {
  background: linear-gradient(127deg, #c8b8f8, #a890f0);
}
.flying .card-info {
  background: #d8d8f0;
}

.ghost {
  background: #705898;
}
.ghost .card-picture {
  background: linear-gradient(127deg, #a890b8, #705898);
}
.ghost .card-info {
  background: #c0a8d0;
}

.grass {
  background: #78c850;
}
.grass .card-picture {
  background: linear-gradient(127deg, #a8e0a0, #78c850);
}
.grass .card-info {
  background: #c8e0c8;
}

.ground {
  background: #e0c068;
}
.ground .card-picture {
  background: linear-gradient(127deg, #f0d8a0, #e0c068);
}
.ground .card-info {
  background: #f0e0b0;
}

.ice {
  background: #9bd1e6;
}
.ice .card-picture {
  background: linear-gradient(127deg, #aae8fd, #e6fdff);
}
.ice .card-info {
  background: #ccf1ff;
}

.steel {
  background: #b8b8d0;
}
.steel .card-picture {
  background: linear-gradient(127deg, #d0d0e7, #ededf7);
}
.steel .card-info {
  background: #e6e6ff;
}

.water {
  background: #6bb5f0;
}
.water .card-picture {
  background: linear-gradient(127deg, #74cdfd, #b1eaff);
}
.water .card-info {
  background: #cae7fa;
}

.psychic {
  background: #7d45c7;
}
.psychic .card-picture {
  background: linear-gradient(127deg, #8c55b0, #b080d0);
}
.psychic .card-info {
  background: #e0b0f8;
}

.normal {
  background: #d8d8c0;
}
.normal .card-picture {
  background: linear-gradient(127deg, #e0e0a8, #d8d8c0);
}
.normal .card-info {
  background: #f0f0d8;
}

.rock {
  background: #bba885;
}
.rock .card-picture {
  background: linear-gradient(127deg, #ccbd9d, #f2ead1);
}
.rock .card-info {
  background: #dbd2b7;
}

.poison {
  background: #A040A0;
}
.poison .card-picture {
  background: linear-gradient(127deg, #C183C1, #A040A0);
}
.poison .card-info {
  background: #D9B3D9;
}

.shadow {
  background: #494949;
}
.shadow .card-picture {
  background: linear-gradient(127deg, #727272, #494949);
}
.shadow .card-info {
  background: #727272;
}

.unknown {
  background: #68A090;
}
.unknown .card-picture {
  background: linear-gradient(127deg, #9DBAA4, #68A090);
}
.unknown .card-info {
  background: #A4C4B7;
}

.card-picture {
  width: 100%;
  height: 200px;
  padding: 2px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-info {
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-name {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
}

.refresh-card {
  animation: refresh 1s ease-in-out forwards;
}

@keyframes refresh {
  0% {
    transform: translateY(0) rotateY(0) scaleX(1) scaleY(1);
  }
  50% {
    transform: translateY(-50px) rotateY(360deg) scaleX(0.5) scaleY(0.7);
  }
  100% {
    transform: translateY(0) rotateY(360deg) scaleX(1) scaleY(1);
  }
}/*# sourceMappingURL=Card.css.map */