.card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  &.electric {
    background: rgb(207, 207, 0);
    .card-picture {
      background: linear-gradient(127deg, rgb(133, 113, 0), rgb(201, 171, 0));
    }
    .card-info{
      background: rgb(248, 250, 178);
    }
  }

  &.fire {
    background: rgb(207, 59, 0);
    .card-picture {
      background: linear-gradient(127deg, rgb(75, 17, 0), rgb(136, 39, 0));
    }
    .card-info{
      background: rgb(250, 178, 178);
    }
  }
  
  &.water {
    background: rgb(19, 151, 228);
    .card-picture {
      background: linear-gradient(127deg, rgb(0, 95, 119), rgb(0, 145, 202));
    }
    .card-info{
      background: rgb(178, 224, 250);
    }
  }
  
  &.grass {
    background: rgb(15, 165, 28);
    .card-picture {
      background: linear-gradient(127deg, rgb(0, 119, 46), rgb(0, 202, 91));
    }
    .card-info{
      background: rgb(178, 250, 196);
    }
  }
}

.card-picture {
  width: 100%;
  height: 200px;
  padding: 2px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.card-info {
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-name {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
}
