.card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.bug {
  background: #a8b820;
}
.bug .card-picture {
  background: linear-gradient(127deg, #c8d68f, #a8b820);
}
.bug .card-info {
  background: #d8e0a0;
}

.dark {
  background: #705848;
}
.dark .card-picture {
  background: linear-gradient(127deg, #a89078, #705848);
}
.dark .card-info {
  background: #c0b090;
}

.dragon {
  background: #7038f8;
}
.dragon .card-picture {
  background: linear-gradient(127deg, #a890f0, #7038f8);
}
.dragon .card-info {
  background: #c8b8f8;
}

.electric {
  background: #f8d030;
}
.electric .card-picture {
  background: linear-gradient(127deg, #f8e0a8, #f8d030);
}
.electric .card-info {
  background: #f8e8a8;
}

.fairy {
  background: #ee99ac;
}
.fairy .card-picture {
  background: linear-gradient(127deg, #f8c8e8, #ee99ac);
}
.fairy .card-info {
  background: #f8d8e0;
}

.fighting {
  background: #c03028;
}
.fighting .card-picture {
  background: linear-gradient(127deg, #d87c6e, #c03028);
}
.fighting .card-info {
  background: #f0d0c0;
}

.fire {
  background: #f08030;
}
.fire .card-picture {
  background: linear-gradient(127deg, #f8b88b, #f08030);
}
.fire .card-info {
  background: #f8d0a0;
}

.flying {
  background: #a890f0;
}
.flying .card-picture {
  background: linear-gradient(127deg, #c8b8f8, #a890f0);
}
.flying .card-info {
  background: #d8d8f0;
}

.ghost {
  background: #705898;
}
.ghost .card-picture {
  background: linear-gradient(127deg, #a890b8, #705898);
}
.ghost .card-info {
  background: #c0a8d0;
}

.grass {
  background: #78c850;
}
.grass .card-picture {
  background: linear-gradient(127deg, #a8e0a0, #78c850);
}
.grass .card-info {
  background: #c8e0c8;
}

.ground {
  background: #e0c068;
}
.ground .card-picture {
  background: linear-gradient(127deg, #f0d8a0, #e0c068);
}
.ground .card-info {
  background: #f0e0b0;
}

.ice {
  background: rgb(155, 209, 230);
}
.ice .card-picture {
  background: linear-gradient(127deg, rgb(170, 232, 253), rgb(230, 253, 255));
}
.ice .card-info {
  background: rgb(204, 241, 255);
}

.steel {
  background: rgb(184, 184, 208);
}
.steel .card-picture {
  background: linear-gradient(127deg, rgb(208, 208, 231), rgb(237, 237, 247));
}
.steel .card-info {
  background: rgb(230, 230, 255);
}

.water {
  background: rgb(107, 181, 240);
}
.water .card-picture {
  background: linear-gradient(127deg, rgb(116, 205, 253), rgb(177, 234, 255));
}
.water .card-info {
  background: rgb(202, 231, 250);
}

.psychic {
  background: rgb(125, 69, 199);
}
.psychic .card-picture {
  background: linear-gradient(127deg, rgb(140, 85, 176), rgb(176, 128, 208));
}
.psychic .card-info {
  background: rgb(224, 176, 248);
}

.normal {
  background: #d8d8c0;
}
.normal .card-picture {
  background: linear-gradient(127deg, #e0e0a8, #d8d8c0);
}
.normal .card-info {
  background: #f0f0d8;
}

.rock {
  background: rgb(187, 168, 133);
}
.rock .card-picture {
  background: linear-gradient(127deg, rgb(204, 189, 157), rgb(242, 234, 209));
}
.rock .card-info {
  background: rgb(219, 210, 183);
}

.poison {
  background: #A040A0;
}
.poison .card-picture {
  background: linear-gradient(127deg, #C183C1, #A040A0);
}
.poison .card-info {
  background: #D9B3D9;
}

.card-picture {
  width: 100%;
  height: 200px;
  padding: 2px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.card-info {
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-name {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
}/*# sourceMappingURL=Card.css.map */