.card {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: black;
 
}

$card-colors: (
  bug: (#a8b820, linear-gradient(127deg, #c8d68f, #a8b820), #d8e0a0),
  dark: (#705848, linear-gradient(127deg, #a89078, #705848), #c0b090),
  dragon: (#7038f8, linear-gradient(127deg, #a890f0, #7038f8), #c8b8f8),
  electric: (#f8d030, linear-gradient(127deg, #f8e0a8, #f8d030), #f8e8a8),
  fairy: (#ee99ac, linear-gradient(127deg, #f8c8e8, #ee99ac), #f8d8e0),
  fighting: (#c03028, linear-gradient(127deg, #d87c6e, #c03028), #f0d0c0),
  fire: (#f08030, linear-gradient(127deg, #f8b88b, #f08030), #f8d0a0),
  flying: (#a890f0, linear-gradient(127deg, #c8b8f8, #a890f0), #d8d8f0),
  ghost: (#705898, linear-gradient(127deg, #a890b8, #705898), #c0a8d0),
  grass: (#78c850, linear-gradient(127deg, #a8e0a0, #78c850), #c8e0c8),
  ground: (#e0c068, linear-gradient(127deg, #f0d8a0, #e0c068), #f0e0b0),
  ice: (#9bd1e6, linear-gradient(127deg, #aae8fd, #e6fdff), #ccf1ff),
  steel: (#b8b8d0, linear-gradient(127deg, #d0d0e7, #ededf7), #e6e6ff),
  water: (#6bb5f0, linear-gradient(127deg, #74cdfd, #b1eaff), #cae7fa),
  psychic: (#7d45c7, linear-gradient(127deg, #8c55b0, #b080d0), #e0b0f8),
  normal: (#d8d8c0, linear-gradient(127deg, #e0e0a8, #d8d8c0), #f0f0d8),
  rock: (#bba885, linear-gradient(127deg, #ccbd9d, #f2ead1), #dbd2b7),
  poison: (#A040A0, linear-gradient(127deg, #C183C1, #A040A0), #D9B3D9),
  shadow: (#494949, linear-gradient(127deg, #727272, #494949), #727272),
  unknown: (#68A090, linear-gradient(127deg, #9DBAA4, #68A090), #A4C4B7)
);

@each $type, $colors in $card-colors {
  .#{$type} {
    background: nth($colors, 1);
    .card-picture {
      background: nth($colors, 2);
    }
    .card-info {
      background: nth($colors, 3);
    }
  }
}

.card-picture {
  width: 100%;
  height: 200px;
  padding: 2px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.card-info {
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-name {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
}

.refresh-card {
  animation: refresh 1s ease-in-out forwards;
}

@keyframes refresh {
  0% {
    transform: translateY(0) rotateY(0) scaleX(1) scaleY(1);
  }
  50% {
    transform: translateY(-50px) rotateY(360deg) scaleX(0.5) scaleY(0.7);
  }
  100% {
    transform: translateY(0) rotateY(360deg) scaleX(1) scaleY(1);
  }
}