header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
}

button#random {
  width: 150px;
  height: 50px;
  margin: auto;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  border-radius: 10px;
  transition: 500ms;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

button#random:hover {
  animation: box-shadow 1.5s infinite;
}

@keyframes box-shadow {
  0% {
    box-shadow: 0 0 10px rgb(0, 255, 234);
  }

  50% {
    box-shadow: 0 0 20px rgb(0, 255, 234);
  }

  100% {
    box-shadow: 0 0 10px rgb(0, 255, 234);
  }
}